*{
 
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
}
body{

    overflow-x: hidden;
}

:root {

    /* --primary-color: #222831;  */
    /* --secondary-color: #393E46; */

    --third-color : #59E4A8;
     --forth-color:#EDE6DB;
     /* --forth-color:#dcd8d8; */
     --font-color:#ffffff;

    --primary-color:#1A1A1E;
     --secondary-color: #4e4e50;
    /*--third-color : #59E4A8;
    --forth-color : #6F2232;
    --forth-color:#950740;
    --text-color : #C3073F; */
  }