*{
 
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
}
body{

    overflow-x: hidden;
}

:root {

    --primary-color: #222831; 
    --secondary-color: #393E46;

    --third-color : #59E4A8;
    /* --forth-color:#EEEEEE; */
    --forth-color:#f0f0f0;
    --text-color : #000000;










/* 
    --primary-color: #1A3C40; 
    --secondary-color: #1D5C63;

    --third-color : #59E4A8;
    --forth-color:#EDE6DB;
    --text-color : #000000; */
  }