.myprofile_container {
    display: flex;
    justify-content: center;
    /* Centers the content horizontally */
    align-items: center;
    /* Centers the content vertically */
}

.myprofile_right {
    display: flex;
    flex-direction: column;
    /* Aligns child elements vertically */
    gap: 20px;
    /* Adds space between child elements */
}

.myprofile_left {
    /* Adjust margin-right to create space between left and right sections */
    margin-right: 20%;
}

.profile_text {
    display: flex;
    flex-direction: column;
    /* Aligns child elements vertically */
    width: 100%;
}

.profile_img {
    height: 550px;
}

.error_img {
    height: 40%;
    width: 30%;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {

    .myprofile_container {
        display: flex;
        flex-direction: column;
    }

    .myprofile_right {
        max-width: none;
    }

    .profile_img {
        max-height: 300px;
        /* padding:  auto; */
        margin-left: 10%;
    }

    .error_img {
        height: 100%;
        width: 80%;
    }
}