.piechart
{
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.barchart
{
  
    /* margin: 100px; */
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.chart
{
    display: flex;
    /* border: 1px solid; */
    padding: 80px 0px;
    margin: 15px;
}
.top_dashboard
{
    background-color: var(--font-color);
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    border: 1px solid;
    height: 130px;
    border-radius: 15px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */

}
.top_dashboard:hover
{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
.top_dashboard h3
{
/* border: 1px solid; */
/* margin: 15px; */
padding: 15px;
width: 250px;
/* height: 100px; */
}
.top_dashboard p
{
    border-radius: 15px; 
    padding: 15px;
    margin-top: -25px;
    /* margin:  0px; */

/* width: 250px; */
/* height: 100px; */
}

.head_dashboard
{
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
}
.dashboard
{
    background-color: var(--font-color);
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}
.dashboard_admin
{
    border: 1px solid;
    border-radius: 15px;
    padding: 50px;
    /* margin: 30px 15px; */
    height: 200px;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: var(--font-color);
}
.admin_pic
{
    border-radius: 15px;
    float:right ;
    margin-left: 250px;
    margin-top: -40px;
}

.admin_info,.adminblog_info
{
    display: flex;
    flex-direction: column;
    /* margin: 0px 15px; */
    
}

.role
{
    background-color: var(--third-color);
    padding: 7px;
    justify-content: center;
    border-radius: 7px;
    margin: 10px 0px;
}
.admin_role
{
    display: flex;
    /* margin: 15px; */
    /* padding: 15px; */
}

.main-content
{
    background-color: var(--forth-color);
}

@media screen and (max-width: 768px) {
    /* Set flex direction to column for all flex containers */
    .chart,
    .dashboard_admin,
    .admin_info,
    .adminblog_info,
    .admin_role {
      flex-direction: column;
      align-items: center; /* Center align items */
    }
  
    .top_dashboard {
      width: 90%; /* Reduce width to fit smaller screens */
    }
  
    .top_dashboard h3,
    .top_dashboard p {
      width: auto; /* Set width to auto for better responsiveness */
      text-align: center; /* Center align text */
    }
  }
  