.sidebar {
    width: 250px;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color:var(--primary-color);
    padding-top: 20px;
    z-index: 1000; /* Ensure sidebar appears above other content */
  }
  
  .sidebar h2 {
    color: var(--font-color);
    text-align: center;
    margin:15px;
    margin-bottom: 20px;
  }
  /* a{
    
    text-decoration: none;
  } */
  .admin_panel
  {
    color: var(--font-color);
    text-decoration: none;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 6px;
    padding: 5px;
  }
  
  .sidebar ul li a:hover {
    /* background-color: var(--third-color); */
    color: var(--forth-color);
    border-radius: 15px;
   transition: 0.7s;
  }
  /* Main content area */
  .main-content {
    margin-left: 250px; /* Adjust based on sidebar width */
    padding: 20px; /* Add padding to separate content from sidebar */
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 50px;
      z-index: 1000; /* Ensure sidebar appears above other content */
    }
    
    .main-content {
      margin-left: 0; /* Reset margin for smaller screens */
      padding: 20px; /* Add padding to separate content from sidebar */
    }
  }
  