/* Global styles */
.about_head {
    font-size: 72px;
    padding: 50px;
    text-align: center; /* Center align the heading */
}

.about_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4px;
}

.ourmission {
    background-color: var(--forth-color);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--third-color);
}

.about2 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 0 20px; /* Adjust margin for smaller screens */
}

.left_about, .right_about {
    width: 100%; /* Set width to 100% for smaller screens */
    padding: 0 10px; /* Adjust padding for smaller screens */
}

.about_content {
    font-size: 18px;
    line-height: 1.6;
}

.aboutimg {
    max-width: 100%;
    height: 510px; /* Ensure images are responsive */
    border-radius: 15px;
}

.about_li {
    font-size: 26px;
}

.about_ul {
    list-style-type: square;
}

.vision_container {
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap to the next line on smaller screens */
    justify-content: center; /* Center align the cards */
}

.vision {
    border: 2px solid var(--third-color);
    border-radius: 15px;
    width: 90%; /* Adjust width for smaller screens */
    max-width: 400px; /* Set maximum width for better readability on larger screens */
    margin: 15px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vision p {
    opacity: 0;
    transition: opacity 0.7s ease;
    height: 1px;
}

.vision:hover p {
    opacity: 1;
    height: 100%;
}

.vision h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.about_container h1 {
    border-bottom: 1px solid;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .about_head {
        font-size: 48px; /* Decrease font size for smaller screens */
        padding: 30px; /* Decrease padding for smaller screens */
    }

    .about_container {
        padding: 10px; /* Decrease padding for smaller screens */
    }

    .ourmission {
        padding: 20px; /* Decrease padding for smaller screens */
        margin-bottom: 20px; /* Decrease margin for smaller screens */
    }

    .about2 {
        margin: 0 10px; /* Adjust margin for smaller screens */
        display: flex;
        flex-direction: column;
    }

    .left_about, .right_about {
        width: 100%; /* Set width to 100% for smaller screens */
        padding: 0; /* Remove padding for smaller screens */
    }

    .vision {
        width: 100%; /* Set width to 100% for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
    }

    .vision p {
        height: auto; /* Auto height for smaller screens */
    }
}
