.navcontainer {

  background: var(--primary-color);
  height: 95px;
  padding: 26px 54px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  color: var(--forth-color);
  transition: transform 0.3s ease;
z-index: 1000;
}

.logo-brand ul {

  list-style: none;
  display: flex;

}


.logo-brand ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
}

nav ul {

  background: var(--primary-color);
  display: none;
  list-style: none;
  display: flex;
  gap: 35px;
}

nav ul li {
  margin: 5px;
  /* margin-right: 15px; */
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  color: var(--font-color);
  position: relative; /* Add relative positioning */
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: transparent; /* Initially transparent */
  transition: width 0.3s ease; /* Smooth transition */
}

nav ul li a:hover::before {
  width: 100%; /* Expand to 100% on hover */
  background-color: var(--font-color); /* Change color on hover */
}


nav ul li a.active {
  border-bottom: 1px solid  var(--third-color);

}

nav ul.show {

  display: flex;
  /* Display the navigation links when the show class is present */
}

.nav-toggle {
  display: none;
  /* cursor: pointer;
  font-size: 20px;
  color: white; */
  cursor: pointer;
  font-size: 20px;
  color: var(--forth-color);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

}

.navcontainer.show-nav {
  display: block;
  /* width: 100%; */
  /* transform: translateY(10%); Shift content down by the navcontainer height */
}

@media only screen and (max-width: 768px) {
  nav ul {
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 35px; /* Adjust padding as needed */
  }

  nav ul.show {
    display: flex;
  }

  .nav-toggle {
    display: block;
    z-index: 100;
    /* Set a higher z-index value if necessary */
  }

  .navcontainer.show-nav {
    background-color: var(--primary-color);
    display: block;
    transform: translateY(0%);
    padding: 0px;
    margin: 0; /* Remove margin */
  }

  .logo-brand ul {
    padding-top: 25px;
    padding-right: 25px;
    justify-content: center;
  }

}
